<!DOCTYPE HTML>
<html lang="ru">
  <head>
  <link href="../../static/user account admin view/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../../static/user account admin view/css/user account admin view.css">
  <meta charset="utf-8"/> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <header>
      <nav class="navbar navbar-expand-xl" aria-label="mainNavbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class = "logo" href="">
              <img src="../../static/user account admin view/img/logo2.svg" class="d-inline-block align-text-center">
              ГБУ.Недвижимость</a>
          </div>
          <div class="d-flex flex-row">
            <div class="p-2 bd-highlight">
              <button class="map">
                Карта
                <img src="../../static/user account admin view/img/map.svg">
              </button>
            </div>
            <div class="p-2 bd-highlight">
              <button class="chart">
                Оценка квартир
                <img src="../../static/user account admin view/img/chart.svg">
              </button>
            </div>
            <div class="p-2 bd-highlight">
              <button class="user">
                Личный кабинет
                <img src="../../static/user account admin view/img/user.svg">
              </button>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <section>
      <div class="all_user_information">
        <div class="d-flex flex-row bd-highlight">
          <div class="d-flex flex-column bd-highlight">
            <div class="p-2 bd-highlight">
              <button class="profile">
                Профиль
              </button>
            </div>

            <div class="p-2 bd-highlight">
              <button class="favourites">
                Избранное
              </button>
            </div>
          </div>
          <div class="d-flex flex-row bd-highlight">
            <div class="d-flex flex-column bd-highlight">
              <div class="bd-highlight">
                <div class="container">
                  <div class="admin_information">
                    <div class="d-flex flex-row bd-highlight">
                      <div class="bd-highlight"> 
                        <button class="face">
                          <img src="../../static/user account admin view/img/user2.svg">
                        </button>
                      </div>
                      <div class="bd-highlight">
                        <div class="d-flex flex-column bd-highlight">
                          <div class="bd-highlight">
                            <div class="user_name">
                              Иван Иванович Иванов
                            </div>
                          </div>
                          <div class="bd-highlight">
                            <div class="user_type">
                              Пользователь
                            </div>
                          </div>
                          <div class="bd-highlight">
                            <div class="d-flex flex-row bd-highlight">
                              <div class="bd-highlight">
                                <div class="email">
                                  Почта:
                                </div>
                              </div>
                              <div class="bd-highlight">
                                <div class="email_value">
                                  egor.shmanev@gmail.com
                                </div>
                              </div>                        
                            </div>
                          </div>
                          <div class="bd-highlight">
                            <div class="d-flex flex-row bd-highlight">
                              <div class="bd-highlight">
                                <div class="number">
                                  Телефон:
                                </div>
                              </div>
                              <div class="bd-highlight">
                                <div class="number_value">
                                  8 (916) 123-45-67
                                </div>
                              </div>                        
                            </div>
                          </div>   
                          <div class="bd-highlight">
                            <div class="d-flex flex-row bd-highlight">
                              <div class="bd-highlight">
                                <div class="id">
                                  Рабочий ID:
                                </div>
                              </div>
                              <div class="bd-highlight">
                                <div class="id_value">
                                  m2203333
                                </div>
                              </div>                        
                            </div>
                          </div>                    
                        </div>
                      </div>
                      <div class="bd-highlight">
                        <button class="settings">
                          <img src="../../static/user account admin view/img/settings.svg">
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bd-highlight">
                <div class="d-flex flex-column bd-highlight">
                  <div class="bd-highlight">
                    <div class="files">
                      Файлы:
                    </div>
                  </div>
                  <div class="bd-highlight">
                    <div class="all_files">
                      <div class="d-flex flex-column bd-highlight">
                        <div class="bd-highlight">
                          <div class="container-fluid">
                            <div class="d-flex justify-content-center">
                              <div class="add_file_block">
                                <div class="d-flex justify-content-center">
                                  <div class="h_add_file">Добавьте файл</div>
                                </div>
                                <div class="d-flex justify-content-center">
                                  <div class="add_file_here">Перетащите файлы сюда или импортируйте</div>
                                </div>
                                <div class="d-flex justify-content-center">
                                  <div class="file_extension">Файл формата: .csv .XLSX .XML</div>
                                </div>
                                <div style="margin-top:27px;" class="d-flex justify-content-center">
                                  <button class="add_file_btn">
                                    <img src="../../static/user account admin view/img/add_file.svg">
                                  </button>
                                  <button class="disk_btn">
                                    <img src="../../static/user account admin view/img/disk.svg">
                                  </button>
                                  <button class="dropbox_btn">
                                    <img src="../../static/user account admin view/img/dropbox.svg">
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="bd-highlight">
                          <div class="line"></div>
                        </div>
                        <div class="bd-highlight">
                          <div class="d-flex flex-row bd-highlight">
                            <div class="bd-highlight">
                              <div class="d-flex flex-column bd-highlight">
                                <div class="bd-highlight">
                                  <div class="file">
                                    <img src="../../static/user account admin view/img/file.svg">
                                  </div>
                                </div>
                                <div class="bd-highlight">
                                  <div class="file_name">
                                    Table1.cvs
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div style="margin-left:28px" class="bd-highlight">
                              <div class="d-flex flex-column bd-highlight">
                                <div class="bd-highlight">
                                  <div class="file">
                                    <img src="../../static/user account admin view/img/file.svg">
                                  </div>
                                </div>
                                <div class="bd-highlight">
                                  <div class="file_name">
                                    Table1.cvs
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      </div>
    </section>

    <footer class="footer">
      <div class="d-flex flex-row bd-highlight mb-3">
        <div class="d-flex flex-column bd-highlight mb-2">
          <div class="d-flex flex-row bd-highlight mb-2">
            <img class="logo_footer" src="../../static/user account admin view/img/logo_footer.svg">
            <div class="brand_name">ГБУ.Недвижимость</div>
          </div>
          <div class="d-flex flex-row bd-highlight mb-4">
            <img class="cat" src="../../static/user account admin view/img/cat.svg">
            <img class="cat2" src="../../static/user account admin view/img/cat.svg">
            <img class="cat2" src="../../static/user account admin view/img/cat.svg">
            <img class="cat2" src="../../static/user account admin view/img/cat.svg">
          </div>
        </div>
        <div style="margin-left:161px; margin-top:32px;" class="d-flex flex-column bd-highlight mb-3">
          <div class="p-2 bd-highlight">
            <div href="" class="information">
              Информация
            </div>
          </div>
          <div style="margin-top: 50px;" class="p-2 bd-highlight">
            <a href=""  class="formula">
              Формула рассчёта
            </a>
          </div>
          <div class="p-2 bd-highlight">
            <a href="" class="about_us">
              О нас
            </a>
          </div>
          <div class="p-2 bd-highlight">
            <a href="" class="developers">
              Разработчики
            </a>
          </div>
        </div>

        <div style="margin-left:161px; margin-top:32px;" class="d-flex flex-column bd-highlight mb-3">
          <div class="p-2 bd-highlight">
            <div href="" class="contacts">
              Контакты
            </div>
          </div>
          <div style="margin-top: 50px;" class="p-2 bd-highlight">
            <a href=""  class="email_footer">
              GBU@info.ru
            </a>
          </div>
          <div class="p-2 bd-highlight">
            <a href="" class="phone">
              +8(916) 123-45-67
            </a>
          </div>
          <div class="p-2 bd-highlight">
            <a href="" class="adress">
              Москва, Сумской проезд 13к2
            </a>
          </div>
        </div>

      </div>
    </footer>
    
</body>
</html>